<app-modal #modal>
  <h2 modal-header>Add item</h2>
  <div modal-body>
    <form (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()" #itemForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name">
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" [(ngModel)]="model.description" name="description">
      </div>

      <div class="form-group">
        <label for="keywords">Keywords <span class="small">(type a word and press enter)</span></label>
        <input type="text" #keywordadd class="form-control" id="keywords" (keyup.enter)="addKeyword(keywordadd.value); keywordadd.value=''">
        <div class="mt-3">
          <ul class="list-inline">
            <li *ngFor="let keyword of model.keywords" class="list-inline-item keyword-badge badge badge-primary">{{keyword}}<a class="badge-remove ml-1" (click)="removeKeyword(keyword)">×</a></li>
          </ul>
        </div>
      </div>

      <div class="clearfix">
        <button type="submit" class="submit-button btn btn-success" [disabled]="!itemForm.form.valid">Save</button>
      </div>
  
    </form>
  </div>
</app-modal>